= simple_form_for [:admin, user] do |form|
  = form.error_notification

  .row.g-3
    .col-12.col-md-6
      = form.input :last_name, required: true
    .col-12.col-md-6
      = form.input :first_name, required: true
    .col-12.col-md-6
      = form.input :middle_name
    .col-12.col-md-6
      = form.association :position, required: true,
        collection: Position.order(:name),
        prompt: "Select position"
    .col-12.col-md-6
      = form.input :hired_on, as: :date, html5: true, required: true
    .col-12.col-md-6
      = form.input :phone
    .col-12.col-md-6
      = form.input :email
    .col-12.col-md-6
      = form.input :login, required: true
    .col-12.col-md-6
      = form.input :password,
        required: user.new_record?,
        hint: user.persisted? ? "Leave blank to keep current password" : nil
    .col-12.col-md-6
      = form.input :password_confirmation, required: user.new_record?
    .col-12.col-md-6
      = form.input :role_name,
        collection: Role::NAMES.map { |name| [name.capitalize, name] },
        include_blank: false,
        label: "Role"

  .mt-4
    = form.button :submit, "Save", class: "btn btn-primary"
    = link_to "Cancel", user.persisted? ? admin_user_path(user) : admin_users_path,
      class: "btn btn-outline-secondary ms-2"
