doctype html
html
  head
    title
      = content_for(:title) || "Desk Book"
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    meta[name="apple-mobile-web-app-capable" content="yes"]
    meta[name="application-name" content="Desk Book"]
    meta[name="mobile-web-app-capable" content="yes"]
    = csrf_meta_tags
    = csp_meta_tag
    = yield :head
    link[rel="icon" href="/icon.png" type="image/png"]
    link[rel="icon" href="/icon.svg" type="image/svg+xml"]
    link[rel="apple-touch-icon" href="/icon.png"]
    = stylesheet_link_tag :app, "data-turbo-track": "reload"
    = javascript_importmap_tags
  body
    - flash.each do |type, message|
      - alert_class = type.to_s == "notice" ? "success" : "danger"
      .container.pt-3
        .alert.alert-dismissible.fade.show[class="alert-#{alert_class}" role="alert"]
          = message
          button.btn-close[type="button" data-bs-dismiss="alert" aria-label="Close"]
    = yield
